* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p:not(:last-child) {
  /* margin: 10px 0; */
  padding-bottom: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: auto;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7c08a;
  color: #333;
}

.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-light {
  background-color: #fff;
  color: #333;
}

.bg-primary {
  background-color: #f7c08a;
  color: #333;
}

.large-heading {
  font-size: 40px;
}

/* Padding */
.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 30px 0;
}

/* Navbar */
#navbar {
  background-color: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

.logo {
  padding-top: 20px;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 257px;
  list-style: none;
}

#navbar li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar li a:hover,
#navbar li a.current {
  background-color: #444;
  color: #f7c08a;
}

/* Showcase */
#showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 30px;
  line-height: 1.7em;
}

/* Home Info */
#home-info {
  display: flex;
  height: 400px;
}

#home-info .info-img {
  width: 50%;
  background: url("../img/photo-1.jpg") no-repeat;
  min-height: 100%;
}

#home-info .info-content {
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Features */
#features {
  display: flex;
}

.box {
  width: 33.3%;
  text-align: center;
  padding: 50px;
}

.box i {
  margin-bottom: 10px;
}

/* About Info */
#about-info .info-right {
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  width: 70%;
  border-radius: 50%;
  margin: 0 auto;
}

#about-info .info-left {
  width: 50%;
  min-height: 100%;
}

/* Testimonials */
#testimonials {
  height: 600px;
  background: url("../img/test-bg.jpg") no-repeat center center/cover;
  padding-top: 100px;
}

#testimonials .container {
  display: block;
  vertical-align: middle;
}

#testimonials h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  opacity: 0.9;
}

.testimonial:not(:last-child) {
  margin-bottom: 40px;
}

#testimonials .testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

/* Contact Form */
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

/* Footer */
#main-footer {
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 20px;
}
